<div class="sidebar">
    <h2>Gestion Financière</h2>
    <ul>
        <li><a href="listePret.php" data-section="loans" class="<?php echo basename($_SERVER['PHP_SELF']) == 'listePret.php' ? 'active' : ''; ?>">Liste des Prêts</a></li>
        <li><a href="statistiques.php" data-section="interests" class="<?php echo basename($_SERVER['PHP_SELF']) == 'statistiques.php' ? 'active' : ''; ?>">Liste des Intérêts</a></li>
        <li><a href="ajout_fond.php" data-section="add-budget" class="<?php echo basename($_SERVER['PHP_SELF']) == 'ajout_fond.php' ? 'active' : ''; ?>">Ajout Budget</a></li>
        <li><a href="TypePret.php" data-section="add-loan-type" class="<?php echo basename($_SERVER['PHP_SELF']) == 'TypePret.php' ? 'active' : ''; ?>">Ajout Type de Prêt</a></li>
        <li><a href="prets.php" data-section="add-loan-type" class="<?php echo basename($_SERVER['PHP_SELF']) == 'prets.php' ? 'active' : ''; ?>">Gestion des Prêts</a></li>
        <li><a href="simulations.php" data-section="add-loan-type" class="<?php echo basename($_SERVER['PHP_SELF']) == 'simulations.php' ? 'active' : ''; ?>">Voir les Simulations</a></li>
        <li><a href="montantEtablissement.php" data-section="loans" class="<?php echo basename($_SERVER['PHP_SELF']) == 'montantEtablissement.php' ? 'active' : ''; ?>">Montant de l'Établissement Financier</a></li>
    </ul>
</div>
